.infoContainer {
    width: 100%;
    height: 600px;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(254,182,107,1) 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.infoContainer h1 {
    color: black;
    padding: 20px;   
}

.artContainer {
    width: 90%;
    height: 60%;
}

.infoContainer .artContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
}

.infoContainer .artContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.artContainer .artTop {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
}

.artContainer .artTop .art0 {
    width: 100%;
    height: 100%;
    margin: 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.artContainer .artTop .art1 {
    width: 100%;
    height: 100%;
    margin: 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.artContainer .artTop .art2 {
    width: 100%;
    height: 100%;
    margin: 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.artContainer .artBottom {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
}

.artContainer .artBottom .art3 {
    width: 100%;
    height: 100%;
    margin: 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.artContainer .artBottom .art4 {
    width: 100%;
    height: 100%;
    margin: 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.artContainer .artBottom .art5 {
    width: 100%;
    height: 100%;
    margin: 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}