.questionsContainer {
    width: 100%;
    height: 800px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.headerQuestions {
    padding: 20px;
}

.headerQuestions h1 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

u {
    text-decoration: underline;
}

.questions {
    width: 80%;
    height: 100%;
    padding: 20px;
}

.leftQuestions h1 {
    font-size: .5em;
    margin-bottom: 20px;
}

.leftQuestions p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.leftQuestions {
    width: 50%;
    float: left;
    font-size: 1rem;
}

.leftQuestions h1 {
    font-size: 1rem;
}

.rightQuestions {
    width: 50%;
    float: right;
    font-size: .5rem;
}

.rightQuestions h1 {
    font-size: 1rem;
    margin-bottom: 20px;
}

.rightQuestions p {
    font-size: 1rem;
    margin-bottom: 20px;
}