.connectContainer {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(198,113,90);
    background: linear-gradient(270deg, rgba(198,113,90,1) 0%, rgba(254,182,107,1) 100%);
}

.leftConnect {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 h1 {
    font-size: 2rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0;
}

.socailsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socailsContainer .googlePlay {
    margin: 10px 0;
    width: 150px;
    height: auto;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socailsContainer .appleStore {
    margin: 10px 0;
    width: 150px;
    height: auto;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verticalLine {
    border-left: 2px solid black;
    height: 10%;
    margin-left: -3px;
}

.rightConnect {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.downloadDescription {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.discordConnect {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    background-color: #5865F2;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discordConnect:hover {
    background-color: #4054b2;
}