.footer {
    width: 100%;
    height: 300px;
    background-color: var(--lightBlue);
    justify-content: center;
    align-items: center;
    display: flex;
}

.topLeft {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 20px;
    flex-direction: column;
}

.lute {
    width: 30px;
    height: auto;
    padding: 30px;
    display: flex;
}

.brandTitles {
    display: flex;
    flex-direction: column;
}

.mottoContainer {
    width: 100%;
    height: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mottoContainer h1 {
    font-size: 1rem;
    color: black;
}

.mottoContainer p {
    font-size: 1rem;
    color:black;
}

.links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links p {
    font-size: 1rem;
    color: black;
    padding: 0 30px 0 20px;
}

.topRight {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.socials {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discordFooter {
    font-size: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #33b2e8;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.discordFooter :hover {
    color: black;
}

.instagram {
    font-size: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #33b2e8;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.instagram :hover {
    color: black;
}

.tiktok {
    font-size: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #33b2e8;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.tiktok :hover {
    color: black;
}

.youtube {
    font-size: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #33b2e8;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.youtube :hover {
    color: black;
}