.footer {
    width: 100%;
    height: 300px;
    background-color: var(--lightBlue);
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer .topFooter {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topLeft {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 20px;
    flex-direction: column;
}

.lute {
    width: 30px;
    height: auto;
    padding: 30px;
    display: flex;
}

.brandTitles {
    display: flex;
    flex-direction: column;
}

.mottoContainer {
    width: 100%;
    height: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mottoContainer h1 {
    font-size: 1rem;
    color: black;
}

.mottoContainer p {
    font-size: 1rem;
    color:black;
}

.links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links p {
    font-size: 1rem;
    color: black;
    padding: 0 30px 0 20px;
}

.topRight {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.socials {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    padding: 20px;
}

.socials .circles {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.circles {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circles {
    margin: 20px;
    padding: 20px;
}

.circle1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle2 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle3 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle4 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}